@inherits VehicleListBase

<h3>VehicleList</h3>

<div class="vehicle-list">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Battery Load</th>
            <th></th>
        </tr>
        @foreach (var vehicle in Vehicles)
        {
            <tr>
                <td>@vehicle.Id</td>
                <td>@vehicle.Name</td>
                <td>@vehicle.BatteryLoad</td>
                <td><a class="btn btn-primary" href="/vehicledetails/@(vehicle.Id)">View</a></td>
            </tr>
        }
    </table>
</div>

